 <section class="banner">
        <div class="mv">
            <img src="{{ app.config.user_data_urlpath }}/img/MV.png">
        </div>
        <div class="stamp">
            <img src="{{ app.config.user_data_urlpath }}/img/stamp.png">
        </div>
        <div class="slider">
            <div class="slide">
                <img src="{{ app.config.user_data_urlpath }}/img/banner.png">
            </div>
            <div class="slide">
                <img src="{{ app.config.user_data_urlpath }}/img/banner.png">
            </div>
            <div class="slide">
                <img src="{{ app.config.user_data_urlpath }}/img/banner.png">
            </div>
        </div>

        <div class="news">
            <div class="title">
                <p class="title_one">お知らせ</p>
                <p class="title_two">news</p>
            </div>
            <div class="news-content">
                <div class="content">
                    <p class="date">2022.03.15</p>
                    <p class="news-title">お知らせのタイトルがここに入り、これは仮のテキスト仮のテキストです。</p>
                </div>
                <div class="content">
                    <p class="date">2022.03.15</p>
                    <p class="news-title">お知らせのタイトルがここに入り、これは仮のテキスト仮のテキストです。</p>
                </div>
                <div class="content">
                    <p class="date">2022.03.15</p>
                    <p class="news-title">お知らせのタイトルがここに入り、これは仮のテキスト仮のテキストです。</p>
                </div>
            </div>
        </div>

        <div class="sns">
            <p class="follow">Follow us</p>
            <a href=""><img src="{{ app.config.user_data_urlpath }}/img/insta.png"></a>
            <a href=""><img src="{{ app.config.user_data_urlpath }}/img/facebook.png"></a>
            <a href=""><img src="{{ app.config.user_data_urlpath }}/img/twitter.png"></a>
        </div>
    </section>